@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --bg-gradient:linear-gradient(-135deg,#c850c0,#4158d0);
    --bg-gray:#e6e6e6;
    --text-color:#666;
    --inp-color:#57b846;
}


body{
    font-family: 'Poppins', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background: var(--bg-gradient);
    box-shadow: 0 5px 30px rgb(0, 0, 0);
}

h1{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.inside_1 img{
    width: 2rem;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    width: 200px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    position: absolute;
    z-index: 1;
    display: none;
}

ul li a:hover{
    background: linear-gradient(-135deg,#c850c0,#4158d0);

}

ul li:hover ul.dropdown{
    display: block;
}

.inside_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    padding: 3px 4px ;
    border-radius: 3px;
    font-family: 'Poppins',sans-serif;
    margin-right: 10px;
}

.logout{
    margin:5px;background-color: #ff0000; color: #ffffff; border: none; padding: 5px 10px; cursor: pointer;
}






@media screen and (max-width: 767px) {
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        background: var(--bg-gradient);
        box-shadow: 0 1px 6px rgb(0, 0, 0);
    }
    
    h1{
        font-size: 0.8rem;
        font-weight: 500;
        color: white;
    }
    
    .inside_1 img{
        width: 1rem;
    }
    
    ul{
        list-style: none;
        width: 200px;
    }
    
    ul li{
        display: inline-block;
        position: relative;
    }
    
    ul li a{
        display: block;
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 7px;
        width: 60px;
    }
    .logout{
       background-color: #ff0000; color: #ffffff; border: none; padding: 2px 3px; cursor: pointer;
       font-size: 7px;
    }
    
    ul li ul.dropdown li{
        display: block;
    }
    
    ul li ul.dropdown{
        width: 100%;
        background: linear-gradient(-135deg,#c850c0,#4158d0);
        position: absolute;
        z-index: 1;
        display: none;
    }
    
    
    ul li:hover ul.dropdown{
        display: block;
    }
    
    
    button{
        border: none;
        padding: 1px 2px ;
        border-radius: 3px;
        margin-right: 10px;
    }
    


}